<div class="container-fluid border py-3">
    <div class="container">
    
        <div class="row">
            <div class="col-lg-4 col-12 text-center text-lg-start mb-3">
                <span class="fw-bold">
                    Contacto:
                </span>
                <section  *ngFor="let socialUrl of socialUrlsServiceService.socialUrls">
                    <a href="{{socialUrl.url}}" target="_blank" class="  btn px-0 text-start border-0" >
                        <i class="bi {{socialUrl.icon}} m-1"></i>
                        {{socialUrl.type}}
                    </a>
                </section>
                
                
            </div>
    
            <div class="col-lg-8 col-12 text-center text-lg-end mb-3">
                <span class="fw-bold lead">
                    Vapor Graphic Studio
                </span>
                <br>
                <span class="small text-muted">
                    Programado por Cesar Uribe Ortiz
                </span>
                <br>
                <span class="small  text-grey ">
                     Azcapotzalco CDMX, 2022
                </span>

            </div>
        </div>

    </div>
    
</div>