<div class="container ">
    <div class="row">
        <div class="col-lg-8 col-12 text-center text-lg-start mb-4">
            <span class="lead">
                Bienvenido a
            </span>
            <br>
            <span class="display-1 fw-bold">
                Vapor Graphic
            </span>

            <p class="text-muted  py-2">
                Estudio personal de diseño de Cesar Uribe Ortiz
            </p>
            <div class="row">

                <div class="col">
                    <!--BTN GALLERY-->
                    <button (click)="scrollToGallery()" class="btn btn-primary w-100 hvr-bob" type="button">Mi trabajo</button>
                </div>
                <div class="col">
                    <!--BTN ABOUT-->
                    <button (click)="navigate('/about')" class="btn btn-light w-100 hvr-bob" type="button">Sobre mí</button>
                </div>

                <div class="col d-none d-lg-block">
                    
                </div>
               
            </div>
            <!--SOCIAL LINKS-->
            <div class="row py-3">
                <div class="col">
                    <!--BTN SOCIAL LINK-->
                    <a  href="{{socialUrl.url}}" target="_blank" class="btn " type="button" *ngFor="let socialUrl of socialUrlsServiceService.socialUrls">
                        <i class="bi {{socialUrl.icon}} "></i>
                    </a>
                    <span class="mx-2 text-muted small">
                        <i class="bi bi-geo-alt-fill"></i> Ciudad de México

                    </span>
                </div>
            </div>
            
        </div>
        <div class="col-lg-4 col-12 d-flex justify-content-center mb-4">
            <img class="img-fluid welcomeImg animate__animated animate__pulse animate__slower animate__infinite" src="../../../assets/home/welcome_img.webp" alt="Bienvenido a vapor graphic">
        </div>

    </div>
    
</div>

<app-gallery-view>
</app-gallery-view>