<div class="container-fluid border py-2 mb-5">
    <div class="row">
        <div class="col-auto d-flex align-items-center">
                
            <span class="fw-bold" type="button" (click)="navigate('/home')">
             <img src="../../../assets/brand/vapographic_logo.svg" class="logoIcon px-2">    Vapor Graphic
            </span>
        </div>

        
        <div class="col d-flex justify-content-end">
            

            <!--FULL NAVBAR-->
            <section class="d-md-block d-none">
                <button class="btn " type="button" (click)="navigate('/home')">
                    Galeria
                </button>
            </section>

            <!--STATIC WEB-->
            <button class="btn " type="button" (click)="navigate('/about')">
                Contacto
            </button>

            <!--COLAPSED NAVBAR
            <section class="d-md-none d-block">
                

                <button class="btn" type="button">
                    <i class="bi bi-list lead"></i>
                </button>
            </section>
            -->
        </div>
    </div>
</div>